.material-regular-button {
  border: 0;
  border-radius: 2px;
  background-color: #2196F3;
  color: #FFF;
  width: 100%;
  height: 32px;
  line-height: 30px;
  margin: 10px 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.material-regular-button:disabled {
  background-color: #BDBDBD !important;
}
.material-regular-button:not(:disabled):hover {
  opacity: 0.8;
}
label.radio {
  cursor: pointer;
  height: 1.5rem;
  vertical-align: top;
  font-size: 1rem;
  display: block;
}
label.radio:before {
  padding: .125rem;
  content: '\E836';
  color: #0097A7;
  opacity: 0.7;
  font-size: 1.125rem;
  font-family: 'Material Icons';
  vertical-align: top;
}
label.radio.checked:before {
  content: '\E837';
  color: #0097A7;
  opacity: 1;
}
label.radio input[type=radio] {
  display: none;
}
