doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  body
    div.container
      div.title Maximum Flow Visual
      div.main-button-container
        button.material-regular-button(id='calc-max-flow-btn') Get max flow
        button.material-regular-button(id='reset-flow-btn') Reset flow
        button.material-regular-button(id='erase-graph-btn') Erase
      div.algorithms
        label.radio(id='edmonds-karp-select')
          span Edmonds-Karp (Breadth First Search)
          input(type='radio')
        label.radio(id='dfs-select')
          span Depth First Search
          input(type='radio')
        label.radio(id='fattest-path-select')
          span Fattest Path
          input(type='radio')
      div.display
        div(id='graph')
        div(id='info-panel')
          div.info
            span Maximum Flow: &nbsp;
            span(id='max-flow-amount') 0
          div.info
            span # Augmenting Paths: &nbsp;
            span(id='number-iterations') 0
          div
            div(id='augmenting-paths')
    script(type='text/javascript' src='dist/index.js')